.link-style{
    text-decoration: none;
    color:whitesmoke;
    background-color: #20c997;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}
.link-style:hover{
    text-decoration: none;
    color:whitesmoke;
    background-color:black;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
}